/*universal edits*/
body, div, body, h1, p {
	font-family: Georgia, Georgia, serif;
	padding:0px;
	margin:0px;
	font-size:12px;
}

/*class edits*/
body {
	font-size:100%;
}
h1{
}
p{
	margin-bottom:20px;
}
div{
}

/*Class edits*/
.menuIcon{
	height:100px;
	width:100px;
	text-align:center;
	margin-bottom:0px;
}

.socialIcon{}

/*ID edits*/

#window{
	/*background: #FFFFFF; /* for non-css3 browsers */
	/*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E5E5E5', endColorstr='#FFFFFF'); /* for IE */
	/*background: -webkit-gradient(linear, left top, left bottom, from(#E5E5E5), to(#FFFFFF)); /* for webkit browsers */
	/*background: -moz-linear-gradient(top,  #E5E5E5,  #FFFFFF); /* for firefox 3.6+ */ 
}

#page{
	margin-left:auto;
	margin-right:auto;
	width:600px;
	
	/*background-color:#ffffff;*/
}

#main{
	margin-top:10px;
	width:600px;
}

#headpaddingstrip{
	height:50px;
}

#header{
	width:600px;
	/*border-bottom:thin solid #181818;*/
}

#title{
	font-size:75px;
	/*text-transform:uppercase;*/
}

#menu{
	margin-right:25px;
	float:left;
	width:100px;
}

#socialmedia{
	text-align:right;
	width:100px;
	Height:100px;
	padding:0px;
	margin:0px;
}

#socials{
	height:50px;
	width:50px;
	padding:0px;
	margin:0px;
}
	

#content{
	width:475px;
	float:left;
}

#footer{
	font-size:10px;
	clear:both;
	text-align:center;
}

#footpaddingstrip{
	height:50px;
}



/*set link colors*/
a:link {text-decoration:none; color:#171717;}
a:visited{ text-decoration:none; color:#404040;}
A:hover {color:#ABABAB;}
