/* Customizing standard components */
body{
	font-size: 12;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
p{
	float: left;
	margin: 0px;
	color: #999999;
	font-weight: normal;
}
p strong{
	color: #000000;
	text-align: left;
}
h1{
	font-size: 75px;
	color: #333333;
	text-transform: uppercase;
	float: left;
	margin: 0px;
}
h2{
	margin: 0px;
	text-transform: uppercase;
	font-size: 30px;
	color: #CCCCCC;
	font-weight: normal;
	float: left;
}
h3{
	float: left;
	margin: 0px;
	font-size: 22px;
	color: #555555;
}
h3 strong{
	color: #003300;
}
h4{
	margin: 0px;
	float: right;
	font-weight: normal;
	color: #003300;
	margin-top: 5px;
}
ul{
	list-style-type: disc;
}

#page{
	margin: 0px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	width: 900px;
}
#header{
	margin: 0px;
	margin-top: 20px;
	overflow: auto;
	border-bottom: 1px solid #B8B8B8;
}
.section{
	margin-top: 20px;
	overflow: auto;
}
.title{
	width: 200px;
	float: left;
}
.item{
	overflow: auto;
	float: right;
	width: 680px;
	margin-top: 3px;
	margin-bottom: 30px;
}
.item p{
	width: 600px;
}
.item ul{
	width: 560px;
}

.page-break  { page-break-before: always; }

/* Contact section stuff */
#contact{
	padding-top: 25px;
	float: right;
	width: 300px;
}
#contact ul{
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}
#contact li{
	color: #586949;
}
#contact li strong{
	float: right;
	font-weight: normal;
	color: #333333;
}

/* Highlights section stuff */
#highlights ul{
	list-style-type: none;
	float: left;
	padding: 0px;
	margin: 0px;
}
#highlights li{
	margin-bottom: 5px;
	color: #333333;
}
#highlights li strong{
	font-size: 14px;
	color: #003300;
}

/* Education section stuff */
#education p strong{
	font-size: 16px;
}

/* Experience section stuff */
#experience ul{
	float: left;
	margin-top: 5px;
	margin-bottom: 0px;
}

/* project section stuff */
#projects p{
	color: #333333;
}

/* Interests section stuff */
#interests p{
	color: #333333;
	font-weight: normal;
}
#interests p strong{
	color: #999999;
	font-weight: normal;
}

/*links*/
#links p{
	text-align: center;
}

a:link {color:#333333; text-decoration: none;}
a:visited {color:#333333; text-decoration: none;}
a:hover {color:#999999; text-decoration: none;}
a:active {color:#333333; text-decoration: none;}
